body{
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.app {
  
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background: linear-gradient(90deg, #03be70, #ec9197) ;
  border-radius: 7px;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.form input{
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  outline: 0;
  border: 2px solid grey;
}

.form button{
  width: 5rem;
  height: 2.7rem;
  font-size: 16px;
  padding: 10px 15px;
  margin-left: 20px;
  color: #fff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.form .add{
  background-color: #1bc27c;
}
.form .delete{
  background-color: #f2a9ae;
}

.textList{
font-size: 18px;
}
